<div class="row">
  <div class="col-xs-12 col-sm-4">
    <br><br>
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"  
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <br>
    
<!--   <button class="btn-primary" (click)=onReload()>Reload Page</button>
  <hr>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label for="input-group-text">Input polje za test</label>
        <input type="text" class="form-control" placeholder="Test">
      </div>
    </div>

    <app-edit-server></app-edit-server>
    <hr> -->
    <router-outlet><!-- Load app-server component here --></router-outlet>
     <!--  <app-server></app-server> -->
  </div>
</div>

